/* Aeonik (CoType) — self-hosted web cuts. Drop licensed .woff2 files into assets/fonts/aeonik/ */
@font-face {
  font-family: 'Aeonik';
  src: local('Aeonik Light'), url('../assets/fonts/aeonik/Aeonik-Light.woff2') format('woff2');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Aeonik';
  src: local('Aeonik Regular'), url('../assets/fonts/aeonik/Aeonik-Regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Aeonik';
  src: local('Aeonik Medium'), url('../assets/fonts/aeonik/Aeonik-Medium.woff2') format('woff2');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Aeonik';
  src: local('Aeonik Medium'), url('../assets/fonts/aeonik/Aeonik-Medium.woff2') format('woff2');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Aeonik';
  src: local('Aeonik Bold'), url('../assets/fonts/aeonik/Aeonik-Bold.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
