/* Sohne (Klim) — self-hosted web cuts. Drop licensed .woff2 files into assets/fonts/sohne/ */
@font-face {
  font-family: 'Sohne';
  src: local('Sohne Leicht'), local('Söhne Leicht'), url('../assets/fonts/sohne/Soehne-Leicht.woff2') format('woff2');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Sohne';
  src: local('Sohne Buch'), local('Söhne Buch'), url('../assets/fonts/sohne/Soehne-Buch.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Sohne';
  src: local('Sohne Kraftig'), local('Söhne Kräftig'), url('../assets/fonts/sohne/Soehne-Kraftig.woff2') format('woff2');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Sohne';
  src: local('Sohne Halbfett'), local('Söhne Halbfett'), url('../assets/fonts/sohne/Soehne-Halbfett.woff2') format('woff2');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Sohne';
  src: local('Sohne Dreiviertelfett'), local('Söhne Dreiviertelfett'), url('../assets/fonts/sohne/Soehne-Dreiviertelfett.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
